git+https://github.com/FelixSchwarz/fakefs_helpers.git#egg=FakeFSHelpers
git+https://github.com/FelixSchwarz/log_utils#egg=LogUtils
ddt
# freezun 1.0 dropped Python 2 support
freezegun < 1.0; python_version < '3.0'
freezegun; python_version > '3.0'
mock; python_version < '3.0'
PuzzlePluginSystem
# >= 0.6.99: AUTH LOGIN
pymta >= 0.6.99
# >= 1.4.0: assert_is()
PythonicTestcase >= 1.4.0
testfixtures
